{%load static%}
<style>
  .DisplayBlock{
    height: 280px;
  }
.logimage{
    height: 260px;
}
#TSRDisplay{
overflow: auto;
padding: 3%;
}
#DevLogDisplay{
  overflow: auto;
  background-color: black;
  padding: 3%;
}.card-header{
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
</style>
<h3>
    <div class="accordion" id="accordionExample" onpageshow="performall()">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="LoadLog('{{TSR}}')">
                Test Run Report
              </button>
            </h2>
          </div>
          
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body DisplayBlock" id="TSRDisplay">
             
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Andvance Test Display
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body DisplayBlock" id="ImageDisplay">
                
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Developers Log
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body DisplayBlock" id="DevLogDisplay">

            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  Developers Panel
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body DisplayBlock">
                Under Development
              </div>
            </div>
          </div>
      </div>
</h3>
<script>
setInterval(function LoadLogs() {
        var urldata = "/LiveLogs/LiveLogFile/" + '{{TSR}}'
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("TSRDisplay").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", urldata, true);
        xhttp.send();
        var objDiv = document.getElementById("TSRDisplay");
        objDiv.scrollTop = objDiv.scrollHeight;
    }, 1000);
    setInterval(function LoadDevLogs() {
        var urldata = "/LiveLogs/LiveDevLogFile/" + '{{TSR}}'
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("DevLogDisplay").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", urldata, true);
        xhttp.send();
        var objDiv = document.getElementById("DevLogDisplay");
        objDiv.scrollTop = objDiv.scrollHeight;
    }, 1000);
    
    setInterval(function LoadImageLogs() {
        var urldata = "/LiveLogs/LiveAdvanceImages/" + '{{TSR}}'
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("ImageDisplay").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", urldata, true);
        xhttp.send();
        var objDiv = document.getElementById("ImageDisplay");
        objDiv.scrollTop = objDiv.scrollHeight;
    }, 10000);
    </script>