{% extends "Dashboard/header.html" %} {% load static %}{% block content %}
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
<style>
    #sidebarK {
        padding: 15px;
        top: 50px;
        height: 100%;
        width: 210px;
        position: fixed;
        right: 0px;
        overflow: auto;
        background-color: rgba(219, 219, 219, 0.562)
    }
    
    .HAD {
        padding: 1px;
        margin-bottom: 3px;
    }
    
    .border {
        border: 3px grey solid;
        border-radius: 10px;
    }
    
    .Dash {
        width: 100%;
    }
    
    .Plot {
        padding: 1%;
        height: 500px;
        border-left: 3px rgba(142, 142, 142, .8);
    }
    
    .stop {
        color: white;
        margin: 1px;
        height: 30px;
        width: 100%;
        background-color: #CD0A05;
        border-style: none;
    }
    
    .stop:hover {
        background: linear-gradient(#CD0A05, #FF0F05);
        transition: .15s;
        border: 1px solid white;
        transform: scale(1.001, 1.1);
    }
    
    .start {
        color: white;
        margin: 2px;
        height: 30px;
        width: 100%;
        background-color: #228E01;
        border-style: none;
    }
    
    .start:hover {
        background: linear-gradient(#228E01, #0DDD05);
        transition: .15s;
        border: 1px solid white;
        transform: scale(1.001, 1.1)
    }
    .Fstart {
        color: white;
        margin: 2px;
        height: 30px;
        width: 100%;
        background-color: #222;
        border-style: none;
    }
    .Fstart:hover{
        background: linear-gradient(#222, grey);
        transition: .15s;
        transform: scale(1.001, 1.1);
        border: 2px solid red;
    }
    .current {
        padding: 1%;
        margin-top: 3%;
        margin-bottom: 2%;
        height: 370px;
    }
    
    .library {
        color: white;
        margin: 2px;
        height: 30px;
        width: 100%;
        background-color: #222;
        border-style: none;
    }
    
    .library:hover {
        background: linear-gradient(#222, grey);
        transition: .15s;
        border: 1px solid white;
        transform: scale(1.001, 1.1)
    }
    
    .message {
        color: rgba(111, 111, 111, 0.7);
        text-align: center;
        align-self: center;
    }
    
    .tab {
        padding: 2%;
        text-decoration: none;
        list-style: none;
        width: 100%;
        height: 35px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
    
    .tab:hover {
        color: rgb(0, 174, 255);
        font-weight: bold;
        transition: .15s;
        border-left: 5px solid black;
        transform: scale(1.001, 1.1)
    }
    
    .tab2 {
        padding: 2%;
        text-decoration: none;
        width: 100%;
        height: 30px;
        box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
    
    .tab2:hover {
        color: rgb(0, 174, 255);
        font-weight: bold;
        transition: .15s;
        border-bottom: 2px solid black;
        transform: scale(1.001, 1.1)
    }
    
    .Plotpan {
        margin: 1%;
        height: 470px;
        padding: 1%;
        padding-top: 5px;
        background-color: white;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
    .ModalStartTest{
        
    }
    .output{
        height: 400px;
        overflow:scroll;
    }
    .FIterations{
        width: 40px;
    }
    .InsertNovel{
        height:26px;
        padding: 1%;
       border: none;
        background-color: #222;
        color: white;
    }
    #NovelUl{
        padding: 0px;
    }
    .NovelInF{
        width: 170px;
    }
    .Plus{
        width:20px;
    }
    .Plus:hover{
        background: linear-gradient(#228E01, #222);
        transition: .25s;
        border: 1px solid white;
        transform: scale(1.001, 1.1)
    }
    .RightCurve{
        border-radius: 0px 13px 13px 0px;
    }
    .ModalFix{
        margin-left:5%; 
        margin-right: 5%;
        max-width: 90%;
    }
    .ModalContent{
        width: 100%; 
    }
</style>

<div id="sidebarK" class="border">
    help:
    <marquee style="color:red">Help is given to those who ask for it...</marquee>
</div>
<div class="HAD">
    <h3><b>Automation Dashboard:</b></h3>
</div>
<br>

<div class="row Dash">
    <div class="col-lg-3">
        <b>List of Novels To Read</b>
        <table>
            <tr>
                <td id="tdpage">
                <select placeholder="Select Novel" id="NovelFInput" class="drop NovelInF InsertNovel" name="NovelFInput">
                    {% for Nnames in NovelAvailable %}
               <option>{{Nnames}}</option>
               {%endfor%}
               </select>
                </td>
                <td id="tditeration">
                    <input type="number" class="InpDrops FIterations InsertNovel" id="NovelFIterations" placeholder="Iterations">
                </td>
                <td>
                    <button type="button" class="Plus InsertNovel RightCurve" onclick="AddNovelToList()">+</button>
                </td>
            </tr>           
</table>
        <div class="display current border">
            <ul id="NovelUl">

            </ul>
        </div>
    
        <button class="start" data-toggle="modal" data-target="#exampleModalCenter">Start Test</button>
        <button class="Fstart">Force Start</button>
    
    
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered ModalStartTest ModalFix" role="document">
              <div class="modal-content ModalContent ">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalCenterTitle">Start Testing</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="modalbody">
                  
                    <div id="ModalInDisplay">

                    </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary library" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary start" onclick="BuildPOMS()">Save changes</button>
                </div>
              </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <b>List of Chapters To Read</b>
        <div class="Plotpan border" id="novelCon"><b style="color:rgba(0, 0, 0, 0.4);">Select a Novel To See its chapter...</b></div>

    </div>
    <div class="col-lg-6">
        <b>Story</b>
        <div class="Plotpan border" id="PageCon">
            <b style="color:rgba(0, 0, 0, 0.4);">Select a Page To Read Its Story...</b>
        </div>

    </div>
</div>
<script>
    function BuildPOMS() {
        var urldata = "/Dashboard/BuildPOM"
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("modalbody").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", urldata, true);
        xhttp.send();
    }

    function loadNovel(content) {
        var urldata = "/Dashboard/Novel?novel=" + content
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("novelCon").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", urldata, true);
        xhttp.send();
    }

    function hidetabs(content) {
        var urldata = "/Dashboard/Chapter?Chapter=" + content
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById(content + "content").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", urldata, true);
        xhttp.send();
        var x = document.getElementById(content + "content");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function openPage(content) {
        var urldata = "/Dashboard/Page?Page=" + content
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("PageCon").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", urldata, true);
        xhttp.send();
    }

function AddNovelToList(){
    var x = document.getElementById("NovelFInput").value;
    var xIt = document.getElementById("NovelFIterations").value;
    if( x != ''){
        var Novelli = document.createElement('li');
        Novelli.setAttribute("class", "tab");
        Novelli.setAttribute("onclick", "loadNovel('"+x+"')");

            var Edit = document.createElement('i');
            Edit.setAttribute("class", "Edit darkBasic material-icons");
            Edit.textContent="create";
            Novelli.appendChild(Edit);

            var Close = document.createElement('i');
            Close.setAttribute("class", "Close");
            Close.setAttribute("class", "darkBasic Close material-icons");
            Close.textContent="cancel";
            Novelli.appendChild(Close);

            var NovelFName= document.createElement('span');
            NovelFName.setAttribute("class","DisplayAction");
            NovelFName.textContent=x;
            Novelli.appendChild(NovelFName);

            var IterationF= document.createElement('span');
            IterationF.setAttribute("class","DisplayFunction");
            IterationF.textContent=xIt;
            Novelli.appendChild(IterationF);

    document.getElementById("NovelUl").appendChild(Novelli);

    }
}

</script>

{% endblock %}